<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login | Stocker Boy</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="<?php echo base_url()?>css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="login-container">
  <div id="login-logo"><a href="#">Stocker Boy</a></div>
  <div id="login-box">
    <h3>Login to Stocker Boy App </h3>
    <div id="inner">
    <form action="" >
   	  <label><input name="" type="text" class="textfield" value="Username" onfocus="if(this.value=='Username'){this.value=''};" onblur="if(this.value==''){this.value='Username'};" /></label>
    	<label>
    	  <input name="" type="password" class="textfield" value="Password" onfocus="if(this.value=='Password'){this.value=''};" onblur="if(this.value==''){this.value='Password'};" />
  	  </label>
    	<div id="button-row">
    	    <label style="float:left; color:#555555;" ><input type="checkbox" name="checkbox" id="checkbox"/>
    	    Remember me on this computer</label>
            <input name="" value="" type="submit" class="login-button" />
    	</div>
        </form>
    </div>
  </div>
  <div id="bottom"></div>
  <div id="Forgot">Forgot your password? <a href="#">Click here to reset it.</a></div>
</div>
</body>
</html>